//elimina la barra laterale per lo scroll
ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

//colore toolbar
ion-toolbar {
  --background: #3f632f;
}

//colore card
ion-card {
  --background: #6aa84f;
}

//colore background
ion-content {
  background-color: #97F071 !important;
}

//colore titolo
.testo {
  color: white;
}

//centrare titolo
ion-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#card-text-left {
  text-align: left;
}


