<ion-header>
  <ion-toolbar>
    <ion-title>Info Percorso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="{{ image }}" />
      <ion-card-title class="testo">{{ nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="testo">{{ info }}</ion-card-content>

    <div class="Aligner">
      <ion-button style="--background:#3f632f" size="default" shape="round" [routerLink]="['/view-map',id,latitude,longitude]" class="center">
        <ion-icon name="map-sharp" size="default"></ion-icon>
        <div class="text-center">Mappa</div>
      </ion-button>
    </div>
  </ion-card>

  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let recensione of recensioni">
      <ion-card id="card-text-left">
        <ion-card-header>
          <ion-card-subtitle class="testo">{{ recensione.nome }}</ion-card-subtitle>
          <ion-card-title class="testo">{{ recensione.titolo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="testo">{{ recensione.descrizione }}</ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  
  <ion-row *ngIf="isLogged">
    <ion-col class="ion-text-center">
      <ion-button  style="--background:#3f632f" shape="round" [routerLink]="['/add-recensioni',id]" class="center">
        <ion-icon name="create-outline"></ion-icon>Commenta
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>

