<ion-header>
  <ion-toolbar>
    <ion-title>profilo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" style="margin-top: 3rem;">
    <ion-button *ngIf="isLogged" shape="round" color="primary" expand="full"
      [routerLink]="['/lista-preferiti/',id_utente]">
      Preferiti
    </ion-button>

    <ion-button *ngIf="isLogged" shape="round" color="primary" expand="full" [routerLink]="['/recensioni',id_utente]">
      Recensioni
    </ion-button>

    <ion-button *ngIf="isLogged" shape="round" color="primary" expand="full">
      Percorsi Personali
    </ion-button>

    <ion-button *ngIf="isLogged" shape="round" color="primary" expand="full" (click)="logout()">
      Logout
    </ion-button>
    <ion-button *ngIf="isAdmin == 1" shape="round" color="primary" expand="full" [routerLink]="['/admin']">
      Admin
    </ion-button>
  </ion-list>
</ion-content>