
ion-toolbar {
    --background: #3f632f;
}

//colore background
ion-content {
    --background: #97F071;
}

//colore e centrare pulsante
.Aligner {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.Top{
    margin-top: 85px;
}

ion-button {
    --background: #6aa84f;
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: initial;
    border-radius: 20px;
    box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
    --box-shadow: none;
}

//centrare titolo
ion-button {
	z-index: 100;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#position {
    position: fixed;
    left: 80px;
    bottom: 15px;
    right: 80px;
}
