<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button size="large" class="Top" style="--background:#6aa84f" *ngIf="isLogged" shape="round" expand="full"[routerLink]="['/lista-preferiti/',id_utente]">
      <ion-icon slot= "start" name= "heart"></ion-icon>
      Preferiti
    </ion-button>

    <ion-button size="large" style="--background:#6aa84f" *ngIf="isLogged" shape="round" expand="full" [routerLink]="['/recensioni',id_utente]">
      <ion-icon slot= "start" name= "reader"></ion-icon>
      Recensioni
    </ion-button>

    <ion-button size="large" style="--background:#6aa84f" *ngIf="isAdmin == 1" shape="round" expand="full" [routerLink]="['/admin']">
      <ion-icon slot= "start" name= "person"></ion-icon>
      Admin
    </ion-button>

    <ion-button id="position" size="default" style="--background:#6aa84f" *ngIf="isLogged" shape="round" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
        Logout
    </ion-button>
</ion-content>