<ion-header>
  <ion-toolbar>
    <ion-title>Aggiungi Percorso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="#6aa84f">
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>

  <ion-item id="test" color="#6aa84f">
    <ion-label position="floating">Info</ion-label>
    <ion-textarea [(ngModel)]="info" type="text" rows="7" cols="20"></ion-textarea>
  </ion-item>

  <ion-item color="#6aa84f">
    <ion-label position="floating">Immagine</ion-label>
    <ion-input [(ngModel)]="image" type="text"></ion-input>
  </ion-item>

  <ion-item color="#6aa84f">
    <ion-label position="floating">Latitudine</ion-label>
    <ion-input [(ngModel)]="latitude" type="text"></ion-input>
  </ion-item>

  <ion-item color="#6aa84f">
    <ion-label position="floating">Longitudine</ion-label>
    <ion-input [(ngModel)]="longitude" type="text"></ion-input>
  </ion-item>

  <ion-button type="button" (click)="createPercorso()" color="primary" shape="round" expand="block">Crea</ion-button>
</ion-content>
