<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="../../assets/icon/logoimg.jpg">
  </div>

  <ion-list id="colore" style="margin-top: 1rem;">
    <ion-label>
      <h1>Info sull'app:</h1>
      <p class="testo">
        AbruzzoTour è un'applicazione che presenta una lista di percorsi che possono essere comodamente aggiunti ad una personale lista dei preferiti.
        Una volta selezionato un percorso si avrà a disposizione la possibilità di poterlo visualizzare sulla mappa in modo tale da raggiungerlo con facilità.
        Infine sarà possibile vedere o lasciare delle recensioni dei vari percorsi in modo tale da tenere gli altri utenti sempre aggiornati.
      </p>
    </ion-label>
  </ion-list>

  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide>
      <img src="../../assets/icon/logoimg.jpg">    
    </ion-slide>
  </ion-slides>

  <ion-list id="colore" style="margin-top: 1rem;">
    <ion-label>
      <h1>Chi siamo:</h1>
      <p class="testo">
      AbruzzoTour nasce dalla volontà di voler condividere la nostra passione per l'escursionismo in Abruzzo.
      Siamo tre studenti dell'università dell'Aquila con la passione per la montagna, abbiamo scelto di realizzare quest'app 
      per cercare di coinvolgere ed aiutare qualsiasi persona interessata a questa passione.
      </p>
    </ion-label>
  </ion-list>

  <h3></h3>
</ion-content>

<!--SCROLL IMMAGINI DA MODIFICARE
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let recensione of recensioni">
        <ion-card id="card-text-left">
          <ion-card-content class="testo">{{ recensione.descrizione }}</ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  -->