<ion-header>
  <ion-toolbar>
    <ion-title>Impostazioni</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    L'App presenta un lista di percorsi i quali possono essere comodamente aggiunti ad una personale lista dei preferiti.
    Una volta selezionato il percorso si avrà a disposizione la possibilità di poter visualizzare sulla mappa la posizione 
    del percorso in modo tale da raggiungerlo con facilità.
    In fine sarà possibile vedere o lasciare delle recensioni per quel particolare percorso in modo tale da tenere gli altri
    utenti sempre aggiornati.
  </p>
  <p>--------------</p>
  <p>
    AbruzzoTour nasce dalla necessità di voler condividere la nostra passione nei confronti dell'escursionismo in Abruzzo.
    Siamo tre studenti dell'università dell'Aquila con la passione per la montagna, abbiam oscelto di realizzare quest'app 
    per cercare di coinvolgere qualsiasi persona di qualsiasi età in questa passione per i percorsi Abruzzesi.
  </p>
  <p>--------------</p>
  <h3>Logout</h3>
</ion-content>
