
ion-toolbar {
    --background: #3f632f;
}

ion-content {
    --background: #97F071 !important;
}

//centrare titolo
ion-button {
	z-index: 100;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}