<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar id="colore">
    <ion-searchbar #search debounce="250" (ionInput)="_ionChange($event)" id="search-bar-color"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="Aligner">
    <ion-button size="default" style="--background:#3f632f" type="button"  shape="round" [routerLink]="['/add-percorso/']">Aggiungi Percorso</ion-button>
  </div>
  <ion-list id="colore" style="margin-top: 1rem;" lines="full">

    <ion-item side="end" color="#6aa84f" lines="insert" *ngFor="let percorso of percorsi">

      <ion-thumbnail class="ion-margin-end">
        <img src="{{ percorso.image }}">
      </ion-thumbnail>

      <ion-label id="colore" [routerLink]="['/info-percorso/',percorso.id]">
        <h2>{{ percorso.nome }}</h2>
      </ion-label>

      <div class="item-note">
        <ion-icon name="create-outline" style="zoom: 2.0;" [routerLink]="['/edit-percorso/',percorso.id]"></ion-icon>
        <ion-icon name="trash-outline" style="zoom: 2.0;" (click)="deletePercorso(percorso.id)"></ion-icon>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
