<ion-header>
  <ion-toolbar>
    <ion-title>Registrati</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="colore" style="margin-top: 2rem;">
    <div id="header">
      <img src="../../assets/icon/logoimg.jpg">
    </div>
  
    <ion-item color="#6aa84f">
      <ion-label id="colore" position="floating"> Nome </ion-label>
      <ion-input type="text" [(ngModel)]="nome" required></ion-input>
    </ion-item>
    <ion-item color="#6aa84f">
      <ion-label position="floating"> Cognome </ion-label>
      <ion-input type="text" [(ngModel)]="cognome" required></ion-input>
    </ion-item>
    <ion-item color="#6aa84f">
      <ion-label position="floating"> Email </ion-label>
      <ion-input type="text" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item color="#6aa84f">
      <ion-label position="floating"> Password </ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button style="--background:#3f632f" tipe="button" shape="round" expand="block" (click)="register()"> Registrati</ion-button>
  </ion-list>
</ion-content>