<ion-header>
  <ion-toolbar>
    <ion-title>Lista Preferiti</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="colore" style="margin-top: 1rem;">
    <ion-item side="end" color="#6aa84f" lines="insert" *ngFor="let preferito of preferiti">

      <ion-thumbnail class="ion-margin-end">
        <img src="{{ preferito.image }}">
      </ion-thumbnail>

      <ion-label id="colore" [routerLink]="['/info-percorso/',preferito.id_percorso]">
        <p>{{ preferito.nome }}</p>
      </ion-label>

      <div class="item-note">
        <ion-icon name="trash-outline" style="zoom: 1.5;" (click)="deletePreferito(preferito.id_preferiti)"></ion-icon>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
