<ion-header>
  <ion-toolbar>
    <ion-title>Lista Preferiti</ion-title>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- end back button -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="colore" style="margin-top: 1rem;" lines="full">
    <ion-item side="end" color="#6aa84f" lines="insert" *ngFor="let preferito of preferiti">
      <ion-label id="colore" [routerLink]="['/info-percorso/',preferito.id_percorso]">
        <h2>{{ preferito.nome }}</h2>
      </ion-label>

      <div class="item-note">
        <ion-icon name="trash-outline" style="zoom: 2.0;" (click)="deletePreferito(preferito.id_preferiti)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>