//colore toolbar
ion-toolbar{
  --background: #6aa84f;
}

//posizione titolo
ion-title{
  position: center;
}

//colore background
ion-content {
  --background: #97F071;
}

//colore titolo
ion-title {
  color: white;
}

//posizione immagini
.mygrid {
  margin-top: 30%;
  margin-left: 7%;
  margin-right: 5%;
  
}

//rotondità immagini
.col {
  padding: 9px;
}

//caratteristiche immagine
ion-avatar {
  height: 100px;
  width: 100px;
}
