//colore toolbar
ion-toolbar{
  --background: #6aa84f;
}

//posizione titolo
ion-title{
  position: center;
}

//colore background
ion-content {
  --background: #97F071;
}

//colore titolo
ion-title {
  color: white;
}

//centrare immagini
.Aligner {
  background: #97F071;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.text-center {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

//caratteristiche immagine
ion-avatar {
  height: 100px;
  width: 100px;
}

//centrare titolo
ion-button {
	z-index: 100;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}