<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
            <!-- back button -->
            <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
            </ion-buttons>
            <!-- end back button -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Titolo</ion-label>
    <ion-input [(ngModel)]="titolo" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrizione</ion-label>
    <ion-input [(ngModel)]="descrizione" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valutazione</ion-label>
    <ion-input [(ngModel)]="valutazione" type="double"></ion-input>
  </ion-item>
  <ion-button type="button" (click)="addRecensione()" color="primary" shape="round" expand="block" >Aggiungi</ion-button>
</ion-content>
