<ion-header>
  <ion-toolbar>
    <ion-title>Scrivi Recensione</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="colore" style="margin-top: 1rem;">
    <div id="header">
      <img src="{{ image }}">
      <!--Immagine Percorso-->
    </div>

    <ion-card id="card-text-left">
      <ion-card-header>
        <ion-item color="#6aa84f">
          <ion-label position="floating">Titolo</ion-label>
          <ion-input [(ngModel)]="titolo" type="text"></ion-input>
        </ion-item>
        <ion-item color="#6aa84f">
          <ion-label position="floating">Descrizione</ion-label>
          <ion-textarea [(ngModel)]="descrizione" type="text" rows="5" cols="20"></ion-textarea>
        </ion-item>
      </ion-card-header>
    </ion-card>

    <ion-button style="--background:#3f632f" type="button" (click)="addRecensione()" shape="round" expand="block"
      [routerLink]="['/lista-percorsi']">Aggiungi</ion-button>
  </ion-list>
</ion-content>


<!--
<ion-item color="#6aa84f">
  <ion-label position="floating">Titolo</ion-label>
  <ion-input [(ngModel)]="titolo" type="text"></ion-input>
</ion-item>
<ion-item color="#6aa84f">
  <ion-label position="floating">Descrizione</ion-label>
  <ion-textarea [(ngModel)]="descrizione" type="text" rows="5" cols="20"></ion-textarea>
</ion-item>
<ion-button style="--background:#3f632f" type="button" (click)="addRecensione()" shape="round" expand="block"
  [routerLink]="['/lista-percorsi']">Aggiungi</ion-button>
-->